@import '../../styles/global.scss';

.container {
    min-height: 100vh;
    display: grid;
    grid-auto-flow: rows;
    grid-auto-rows: min-content 1fr min-content min-content;
}

.topNav {
    position: sticky;
    top: 0;
}

.botNav {
    position: sticky;
    bottom: 0;
    display: none;
}

@media (max-width: $breakpoint-small) {
    .main {
        margin-top: 0;
    }

    .topNav {
        position: inherit;
    }

    .botNav {
        display: inherit;
    }
}
