@import '../../../styles/global.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 $block-side-margin;
}

.header {
    text-align: center;
    line-height: 100%;
    margin-bottom: 2rem;
}

.winner {
    box-shadow: 0 0 5rem $ssis-gold;
    border: 5px ridge $ssis-gold;
}
