@import '../../../styles/global.scss';

.container {
    display: inline-flex;
    flex-direction: column;
    width: 15rem;
    height: 10rem;
    text-decoration: none;

    .coverImages {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 0.2rem;
        align-items: flex-end;
    }

    .coverImage {
        z-index: -1;
        transition-timing-function: ease-in;
    }

    .coverImage > * {
        width: 100%;
        height: 100%;
    }

    .coverImage:nth-child(1) {
        height: 1rem;
        transition: 0.4s;
    }
    .coverImage:nth-child(2) {
        height: 3rem;
        transition: 0.4s;
    }
    .coverImage:nth-child(3) {
        height: 2rem;
        transition: 0.5s;
    }
    .coverImage:nth-child(4) {
        height: 5rem;
        transition: 0.4s;
    }
    .coverImage:nth-child(5) {
        height: 2rem;
        transition: 0.3s;
    }

    .content {
        background-color: white;
        display: inline-flex;
        color: black;
        align-items: center;
        justify-content: center;
        height: 5rem;
        font-weight: bold;
        font-size: 1.5rem;
        box-shadow: 0 0 0.3rem grey;
        transition: $transition-duration;
    }

    &:hover {
        .coverImage:nth-child(1) {
            transform: translateY(10px);
        }
        .coverImage:nth-child(2) {
            transform: translateY(12px);
        }
        .coverImage:nth-child(3) {
            transform: translateY(11px);
        }
        .coverImage:nth-child(4) {
            transform: translateY(16px);
        }
        .coverImage:nth-child(5) {
            transform: translateY(13px);
        }

        .content {
            box-shadow: 0 0 0.5rem grey;
        }
    }
}
