.container {
    width: 100vw;
    height: 50vh;
    overflow: hidden;
}

.innerContainer {
    width: 200vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-gap: 1vw;
    transform: rotate(30deg) translateX(-20rem);

    & img {
        width: 10vw;
        height: 15vw;
        object-fit: cover;
    }
}
