@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@700&family=Roboto&display=swap');

$ssis-blue: #174e94;
$ssis-yellow: #ffce02;
$ssis-red: #cf3438;
$ssis-orange: #e67424;
$ssis-green: #3cae49;

$transition-duration: 0.2s;
