@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@700&family=Roboto&display=swap');

$ssis-blue: #174e94;
$ssis-yellow: #ffce02;
$ssis-red: #cf3438;
$ssis-orange: #e67424;
$ssis-green: #3cae49;
$ssis-gold: #deb408;

$breakpoint-small: 700px;
$nav-height: 7rem;
$footer-height: 5rem;

$transition-duration: 0.3s;
