@import '../../../styles/global.scss';

.container {
    color: black;
    text-decoration: none;
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 0.5rem;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 900;
    max-width: 15rem;
    border-radius: 2rem;
    border-left: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
    transition: $transition-duration;

    &:hover {
        border-left: 5px solid white;
        border-right: 5px solid white;
        box-shadow: 0 0 1rem $ssis-blue;
    }
}
