@import '../../../styles/global.scss';

.container {
    color: black;
    text-decoration: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content 1fr;
    grid-gap: 0.5rem;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 900;
    width: 15rem;
    box-shadow: 0 0 0.1rem grey;
    border-left: 5px solid lightgrey;
    transition: $transition-duration;

    &:hover,
    &:focus {
        border-left: 5px solid grey;
        background-color: whitesmoke;
    }
}
