@import '../../../styles/global.scss';

$coverImageContainerWidth: calc(15rem + 10vw);

.container {
    display: grid;
    grid-template-columns: $coverImageContainerWidth 1fr;
    grid-gap: 2rem;
    margin: 0 $block-side-margin;

    @media (max-width: $breakpoint-small) {
        grid-template-columns: 1fr;
    }
}

.coverImageContainer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: $coverImageContainerWidth;

    & img {
        border-radius: 1rem;
        box-shadow: 0 0 0.5rem grey;
    }
}

.richText {
    box-shadow: 0 0 0.5rem grey;
    border-radius: 1rem;
    padding: 1rem 5vw;
}

.centerContainer {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.pin {
    border-radius: 3rem;
    display: flex;
    background-image: linear-gradient(90deg, $ssis-blue, #5b98e6);
    align-items: center;
    color: white;
    box-shadow: 0 0 0.5rem grey;
    padding-right: 1rem;
}

.pinImage {
    margin-right: 0.5rem;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 0.2rem grey;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem grey;
    padding: 2rem;

    h1 {
        padding: 0;
        font-size: 3rem;
    }

    p {
        font-size: 1.5rem;
        font-weight: bold;
    }
}
