@import '../../styles/global.scss';

$footer-height: 5rem;

.container {
    height: $footer-height;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $ssis-blue;
    color: white;
}
