@import '../../../styles/global.scss';

.link {
    color: $ssis-gold;
    transition: $transition-duration;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
