@import '../../../styles/global.scss';

.container {
    max-width: 15rem;
    max-height: 20rem;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0 0 0 grey;
    transition: $transition-duration;

    .coverImage {
        transform: scale(1);
        transition: $transition-duration;
    }

    &:hover {
        box-shadow: 0 0 1rem grey;

        .coverImage {
            transform: scale(1.05);
        }
    }
}
