@import '../../../styles/global.scss';

.container {
    max-width: 15rem;
    max-height: 20rem;
    overflow: hidden;
    display: inline-block;
    transition: $transition-duration;

    .coverImage {
        transition: $transition-duration;
    }

    &:hover,
    &:focus {
        box-shadow: 0 0 1rem grey;

        .coverImage {
            transform: scale(1.05);
        }
    }
}
