@import '../../../styles/global.scss';

.container {
    width: 15rem;
    height: 20rem;
    overflow: hidden;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid $ssis-gold;
    box-shadow: 0 0 0rem $ssis-gold;
    transition: $transition-duration;

    .coverImage {
        filter: brightness(50%);
        overflow: hidden;
        transition: $transition-duration;
    }

    .content {
        color: white;
        position: absolute;
        font-size: 2rem;
        display: grid;
        grid-auto-flow: row;
        justify-items: center;
        transition: $transition-duration;
    }

    .icon {
        font-size: 4rem;
    }

    &:focus,
    &:hover {
        box-shadow: 0 0 1rem $ssis-gold;

        .content {
            transform: scale(0.95);
        }

        .coverImage {
            filter: brightness(20%);
            transform: scale(1.1);
        }
    }
}
